<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDzK_HrkqDLUlg7dEINkhpcdxMcG9_6Z8I</string>
	<key>GCM_SENDER_ID</key>
	<string>572515862005</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chung.DaliyTimeLine</string>
	<key>PROJECT_ID</key>
	<string>dailytimelien</string>
	<key>STORAGE_BUCKET</key>
	<string>dailytimelien.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:572515862005:ios:5677db8c25c57dcea50cbc</string>
</dict>
</plist>